@font-face {
  font-family: 'co-headline-bold';
  src: url("../fonts/_Dalton_Maag_Co_Headline_Bold.ttf");
}

#cloudm-canvas {
  width: 100%;
}

#cloudm-canvas canvas {
  -webkit-transform-origin: 1000 1000;
          transform-origin: 1000 1000;
}
